@import url("typo.css");

html,
body {
	height:100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}
#EncloseAll {
	width: 891px;
	margin: 0 auto;
}
#EncloseContent {
	width: 460px;
	margin: 0 auto;
	text-align: left;
	padding-bottom: 60px;
}
#EncloseData {
	border-bottom: 1px dotted #000;
	padding-bottom: 24px;
	margin-bottom: 24px;
}
#EncloseData .bereich {
	background: #ccc;
	padding: 8px;
	margin-bottom: 12px;
}
#EncloseData .bereich:first-child {
	display: none;
}
#EncloseData .liste {
	background: #fff;
	padding: 4px;
	margin: 0;
	list-style: none;
}
#EncloseData ul li {
	margin-bottom: 8px;
}
.angebot-name {
	margin-left: 0px;
}
hr {
	display: block;
	height: 12px;
	margin-bottom: 12px;
	border-style: none none dotted none;
	border-width: 1px;
	border-color: #000;
}
h3 {
	margin-top: 12px;
	margin-bottom: 12px;
}
a {
	text-decoration: none;
	color: #000;
}
.error {
	font-weight: bold;
	color: #ff0000;
}